.App {
  display: flex;
color: rgb(83, 81, 81);
flex-direction: column;

}
body{
  display: flex;
  justify-content: center;

}
input{
  border: 1px solid rgb(196, 207, 223);
margin-top: 5px;
margin-bottom: 5px;
}
button{
  margin-top: 5px;
  width: 100px;
  align-self: center;
  background: none;
  border: 1px solid rgb(196, 207, 223);

}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
